* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.todo-list-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-form {
  padding-bottom: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

h1,
label {
  color: #007bff;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin-top: 2rem;
}

.todo-form h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.todo-btn {
  background: #007bff;
  border: none;
  color: white;
  padding: 0.3rem 16px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.todo-btn:hover {
  color: #0056b3;
  background: none;
}

#todo-input {
  font-size: 16px;
  height: 2rem;
  padding: none;
  font-family: 'Roboto', sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

ul li {
  display: flex;
  justify-content: space-between;
}

li span {
  color: #007bff;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
}

button:disabled {
  padding: 5px 20px 5px 20px;
  cursor: not-allowed;
  background-color: #b0b0b0;
  color: #f0f0f0;
  opacity: 0.7;
}

button {
  padding: 5px 20px 5px 20px;
  background-color: #007bff;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  font-weight: 600;
  color: #f0f0f0;
}
